/* Reset default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Main content styling */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

/* Top bar styling */
.top-bar {
    background-color: #f2f2f2;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}


h1 {
    font-size: 48px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #2980b9;
    font-family: 'Dosis', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}

p {
    font-size: 20px;
    margin-left: 10px;
    font-family: 'Dosis', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    font-family: 'Dosis', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}

.like-button,
.cancel-like-button {
    display: inline-block;
    /* Add other styling properties if needed */
    background-color: blue;
    color: white; /* Optionally, change text color to white for better visibility */
}
.get-started-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
    font-family: 'Dosis', sans-serif;
    font-family: 'Lexend Deca', sans-serif; 
}

.get-started-button:hover {
    background-color: #2980b9;
}

.button:hover {
    background-color: #3498db;
    color: #fff;
}

/* Footer styling */
.footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
    color: #333;
    font-family: 'Dosis', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* Your existing CSS styles */

/* Add these styles to the end of your existing CSS file */

/* Post styling */
.post {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Post content container */
.post-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Post header */
.post-header {
    display: flex;
    align-items: center;
}

.post-header h3 {
    margin-right: 10px;
    font-weight: bold;
}

/* Post caption */
.post-caption {
    margin-top: 5px;
}

/* Post footer */
.post-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

/* Post comments and likes */
.post-comment,
.post-likes {
    font-weight: bold;
}
